# Waypoint Express Environment Configuration
MOCK_SERVER_URL=http://localhost:4010/
# Real API URL fallback:
REAL_API_URL=http://localhost:8000/

# Dev Accounts
DEV_DRIVER_USERNAME=driver@waypoint.test
DEV_LOADER_USERNAME=loader@waypoint.test
DEV_PASSWORD=Password123!
